---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Tags from '../components/Tags.astro';
import HeaderLink from '../components/HeaderLink.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => - a.data.pubDate.valueOf() + b.data.pubDate.valueOf()
);
interface TagList {
[key:string]: number
}
const tagsWithPosts = posts.reduce((allTags, post) => {
  const postTags = post.data.tags;
  if (postTags) {
    postTags.forEach((tag) => {
      if (!allTags[tag]) allTags[tag] = 1;
       else allTags[tag] += 1;
    });
  }
  return allTags;
}, {}as TagList)

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="postcss">
			body {
				@apply grid min-h-[100dvh] grid-cols-1 overflow-x-hidden ;
				grid-template-rows: 1fr auto;

			}
			main {
				@apply grid  justify-center mb-6 ;
				@apply text-xl;
			}
			section {
				@apply max-w-2xl w-full mt-12;
				@apply px-3 lg:px-0
			}
			section a {
				@apply flex justify-between hover:underline text-[blue];
			}
			h1 {
				@apply text-[8vh] leading-none pointer-events-none;
			}
			ul {
				@apply mt-2;
			}
			li {
				@apply  border-current pt-8 pb-4;
			}
			img {
				@apply inline-block h-[1em] ml-2;
			}
		</style>
	</head>
	<body>
		<main>
			<section>
				<h1>Simon's Learning </h1>
				<h1>Journal<img src={import.meta.env.BASE_URL + "/smile.svg"} role="presentation" /></h1>
				<div class="flex gap-2 mt-2 text-[blue]">
					<HeaderLink href={import.meta.env.BASE_URL}>All</HeaderLink>
					{Object.keys(tagsWithPosts).map((tag)=> (
						<HeaderLink href={`${import.meta.env.BASE_URL}/?tag=${tag}`}>{tag}: {tagsWithPosts[tag]}</HeaderLink>
					))}
				</div>
				<ul id="blogList">
					{
						posts.map((post) => (
							<li>
								<a href={`${import.meta.env.BASE_URL}/${post.slug}/`}>
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
									
								</a>
							<Tags tags={post.data.tags} />
								
							</li>
						))
						
					}
				</ul>
			</section>
		</main>
		<Footer />
		<script lang="ts">
			document.addEventListener("DOMContentLoaded", (event) => {
				console.log("Made with <3 by Simon https://github.com/codelastnight/learningjournal");
				filterBlogList()
			});
			
			function filterBlogList() {
				const queryString = window.location.search;
				const queryTag = new URLSearchParams(queryString).get('tag');
				if (!queryTag) return;

				const ul = document.getElementById("blogList");
				const listItems = ul.getElementsByTagName('li');

				for (const item of listItems) {
					const element = item.getElementsByClassName("tags")
					const tags = element[0].getAttribute('data-tags') 
					const tagArray = !!tags ? tags.split(',') : [];
					if (tagArray.indexOf(queryTag) === -1) {
						item.style.display = 'none'
					}
				}
			}
		</script>
	</body>

</html>
